.date-stamp {
  text-align: center;
  width: 100%;
  padding-top: 15px;
  position: relative;
}

.date-stamp p {
  margin: 0;
  margin-bottom: 8px;
}

.date-stamp h3 {
  font-size: 13px;
  color: #AAAAAA;
  font-weight: 400;
  margin-bottom: 9px;
}

@media (min-width: 768px) {
    .date-stamp {
      max-width: 200px;
      margin-left: 50px;
    }
}

@media (max-width: 768px) {
  .date-stamp .appointment-date,
  .date-stamp .appointment-time,
  .date-stamp h3 {
    display: none;
  }
}

