.btn-wrapper {
  margin-top: 30px;
  display: flex;
}

.btn-wrapper button {
  display: inline-flex;
  height: 80px;
  border: 0;
  padding: 0;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  background: #CFCFCD;
  border-radius: 4px;
  color: #fff;
  flex: auto;
  justify-content: center;
}

.btn-wrapper button.active {
  background: #FEB901;
  color: #fff;
}

.btn-wrapper button svg {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.btn-wrapper button svg {
  font-size: 16px;
}

@media (min-width: 768px) {
  .btn-wrapper button {
    height: 45px;
  }
  .btn-wrapper {
    position: absolute;
    width: 100%;
    bottom: 30px;
  }
  .btn-wrapper-container .btn-wrapper:not(:first-child) {
    display: none;
  }
}

@media (max-width: 768px) {
  .btn-wrapper-container {
    display: flex;
    width: 100%;
  }
  .btn-wrapper {
    width: calc(100% - 100px);
  }
  .btn-wrapper:not(:first-child){
    order: -1;
    flex: 0 0 80px;
  }
  .btn-wrapper:not(:nth-child(2)) {
    margin-left: auto;
  }
  .btn-wrapper:not(:first-child) button svg {
    position: initial;
    transform: initial;
  }
  .btn-wrapper.back-btn button {
    background:#CFCFCD;
  }
  .btn-wrapper button svg {
    font-size: 20px;
  }
  .btn-wrapper button {
    font-size: 30px;
  }
} 

/*
 .btn-wrapper button:first-child {
  flex: 0 0 80px;
  margin-right: 25px;
} */