.timeslot {
  width: 100%;
}

.timeslot h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-transform: initial;
  max-width: 320px;
  margin: auto;
}

.time-table {
  margin-top: 25px;
}

.time-table ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}

.time-table li {
  list-style: none;
  flex-basis: 33.33%;
  height: 80px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  box-shadow: 1px 0 0 0 #CFCFCD,
  0 1px 0 0 #CFCFCD,
  1px 1px 0 0 #CFCFCD,
  /* Just to fix the corner */
  1px 0 0 0 #CFCFCD inset,
  0 1px 0 0 #CFCFCD inset;
}

.time-table li button {
  font-size: 25px;
  line-height: 35px;
  background: none;
  outline: none;
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
}

.time-table li button.active {
  background: #FEB901;
}

@media (min-width: 768px) {
  .timeslot {
     max-width: 250px;
  }
  .time-table li {
    height: 35px;
  }
  .time-table li button,
  .timeslot h2 {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .timeslot h2 span {
    font-weight: 500;
    text-decoration: underline;
  }
  .timeslot h2 {
    font-size: 25px;
    line-height: 40px;
  }
  .time-table {
    margin-top: 50px;
  }
  .timeslot {
    box-shadow: 10px 10px 40px 0 #eee;
    padding: 40px;
    box-sizing: border-box;
  }
}