/*
  resetting styles
*/
.react-calendar__navigation button[disabled] {
  opacity: 0.3;
  background-color: initial;
}

.react-calendar__navigation {
  height: initial;
  margin-bottom: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: initial;
}

.react-calendar__navigation__arrow {
  width: 22px;
  height: 22px;
  background: url('./../../images/next-arrow.svg') right no-repeat !important;
  background-size: contain !important;
  align-self: center;
}

.react-calendar__navigation__prev-button {
  transform: scaleX(-1);
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none !important;
}

.react-calendar {
  width: 100%;
  border: 0;
}

.react-calendar__tile:disabled {
  background-color: #fff;
  color: #ccc;
}

.react-calendar__month-view__weekdays {
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #FEB901;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #FEB901;
}

.react-calendar button {
  padding: 0;
  color: #000;
  font-size: 16px;
}

.react-calendar__tile--active {
  color: #000;
}

.react-calendar__tile {
  width: 70px;
  height: 70px;
  box-shadow: 
    1px 0 0 0 #ccc, 
    0 1px 0 0 #ccc, 
    1px 1px 0 0 #ccc,   /* Just to fix the corner */
    1px 0 0 0 #ccc inset, 
    0 1px 0 0 #ccc inset;
}

@media (max-width: 768px) {
  .react-calendar__month-view__weekdays {
    margin-bottom: 20px;
  }
  .react-calendar button {
    font-size: 25px;
  }
  .react-calendar__month-view__weekdays {
    font-size: 25px;
  }
  .react-calendar__navigation {
    margin-bottom: 45px;
  }
  .react-calendar {
    box-shadow: 10px 10px 40px 0 #eee;
    padding: 40px;
  }
}

@media (min-width: 768px) {
  .react-calendar__tile {
    width: 40px;
    height: 40px;
  }
  .react-calendar__navigation__arrow {
    width: 11px;
    height: 11px;
  }
  .react-calendar {
    width: 260px;
  }
}