@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

/*
  CSS Hack for Small Mobile Layout
*/

@media (max-width: 640px) {
  .react-calendar button,
  .react-calendar__month-view__weekdays,
  .time-table li button {
    font-size: 16px;
  }
  .react-calendar,
  .timeslot {
    padding: 40px 20px;
  }
  .react-calendar__navigation__arrow {
    width: 12px;
    height: 12px;
  }
}