.container-content {
  max-width: 560px;
  margin: auto;
  margin-top: 100px;
  width: 100%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  font-family: 'Noto Serif', sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}

header:after {
  content: '';
  width: 57px;
  height: 4px;
  display: block;
  background: #FEB901;
  border-radius: 12px;
  position: absolute;
  top: -35px;
  left: 50%;
  border-radius: 12px;
  transform: translateX(-50%);
}

header h2 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

header .button-wrapper {
  position: inherit;
  width: initial;
  margin: 0;
  bottom: inherit;
}

@media (max-width: 768px) {
  header .button-wrapper {
    display: none;
  }
  header {
    margin-bottom: 90px;
  }
  header h2 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .container-content {
    max-width: 700px;
  }
  .calendar-container {
    flex-direction: row;
    padding: 30px 40px 40px 40px;
    box-shadow: 10px 10px 40px 0 #eee;
  }

  header:after {
    bottom: -16px;
    left: 0;
    top: initial;
    transform: inherit;
  }

  header button {
    width: 33px;
    height: 33px !important;
    background: #F2F2F2 !important;
    border: 0;
    border-radius: 4px;
  }

  header .button-wrapper button svg {
    position: inherit;
    transform: inherit;
    right: 0;
    color: #AAAAAA;
  }
}